# Node modules
node_modules/

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-error.log*

# Environment variables files
# .env

# IDE/editor settings (e.g., Visual Studio Code)
.vscode/
.idea/

# Build directories
build/
dist/

# Test coverage reports
coverage/
